# Electron 镜像配置
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# npm 镜像源
registry=https://registry.npmmirror.com/

# 依赖提升策略（解决某些插件路径问题）
shamefully-hoist=true
