# 设置 npm 镜像源
registry=https://registry.npmmirror.com

# 设置 electron 镜像源
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

# 设置 Nodejs 二进制镜像源
NODE_MIRROR=https://npmmirror.com/mirrors/node/

# 设置 electron-builder 二进制镜像源
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# 依赖提升策略（解决某些插件路径问题）
shamefully-hoist=true
